body {
  box-sizing: border-box;
  font-family: "Francois One", sans-serif;
  margin: 0;
  padding: 0;
  color: white; }

.wrapper {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden; }

*::-webkit-scrollbar {
  background-color: transparent; }

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 7px; }

*::-webkit-outer-spin-button,
*::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

h2 {
  margin: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }

button {
  font-family: "Francois One", sans-serif; }

.input, .login__input, .register__input, .chosen-data__inputs .chosen-data__input-div {
  position: relative; }
  .input input, .login__input input, .register__input input, .chosen-data__inputs .chosen-data__input-div input {
    position: relative;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #000000;
    font-family: "Francois One", sans-serif;
    z-index: 2;
    color: white; }
  .input label, .login__input label, .register__input label, .chosen-data__inputs .chosen-data__input-div label {
    position: absolute;
    left: 1%;
    bottom: 0;
    z-index: 1;
    color: white;
    transition: all 0.2s ease-in-out; }
  .input .label--active, .login__input .label--active, .register__input .label--active, .chosen-data__inputs .chosen-data__input-div .label--active {
    transform: scale(0.7) translate(-22%, -145%);
    color: black; }

.home-submit, .login__submit, .register__submit {
  outline: none;
  border: none;
  width: 100px;
  padding: 7px;
  font-family: "Francois One", sans-serif;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.15s ease-in;
  transition-property: background-color, color; }
  .home-submit:hover, .login__submit:hover, .register__submit:hover {
    background-color: #5e0000;
    color: white; }
  @media (min-width: 768px) {
    .home-submit, .login__submit, .register__submit {
      font-size: 21px;
      width: 180px; } }

.logged__message {
  width: 250px;
  text-align: center;
  background-color: white;
  color: #5e0000;
  border: 2px solid black;
  font-size: 22px;
  padding: 20px 40px;
  z-index: 100;
  border-radius: 10px; }
  @media (min-width: 768px) {
    .logged__message {
      width: 300px;
      font-size: 27px; } }

.header {
  width: 100vw;
  height: 65px;
  background-color: #5e0000; }
  .header__h1 {
    font-family: "Black Ops One", cursive;
    color: white;
    padding: 18px 0 0 10px;
    font-size: 36px;
    margin: 0; }
  @media (max-width: 768px) {
    .header__cut-on-mobile {
      display: none; } }

.body {
  width: 100%;
  height: calc(100vh - 65px);
  background: url("./pictures/body-builder.jpg") no-repeat top/cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.logInLogOut {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-size: 10vw;
  background-color: black;
  z-index: 200;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Black Ops One", cursive; }

.form {
  width: 300px;
  border-radius: 8px; }
  .form__switches {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .form__switches .switches__switch {
      background-color: rgba(94, 0, 0, 0.8);
      font-size: 20px;
      border-radius: 10px 10px 0 0;
      padding: 2px;
      width: 120px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.3);
      transition: all 0.2s ease;
      transition-property: background-color, color; }
      .form__switches .switches__switch--active {
        background-color: rgba(94, 0, 0, 0.8);
        color: white; }
  .form__content {
    background-color: rgba(94, 0, 0, 0.8);
    height: 225px;
    border-radius: 0 0 10px 10px; }
  .form__message {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #5e0000;
    padding: 8px 12px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px; }
  @media (min-width: 768px) {
    .form {
      width: 400px;
      font-size: 20px; }
      .form .switches__switch {
        font-size: 22px;
        width: 150px; }
      .form__content {
        height: 300px; }
        .form__content input {
          font-size: 21px; }
      .form__message {
        font-size: 22px; } }
  @media (min-width: 1500px) {
    .form {
      width: 500px;
      font-size: 22px; }
      .form .switches__switch {
        font-size: 23px;
        width: 180px; }
      .form__content {
        height: 380px; }
        .form__content input {
          font-size: 23px; }
      .form__message {
        font-size: 25px; } }

.login, .register {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column; }

.hamburger {
  width: 45px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .hamburger__line {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.2s ease-in-out; }
  .hamburger__line1--active {
    transform: translateY(10px) rotate(45deg); }
  .hamburger__line2--active {
    opacity: 0; }
  .hamburger__line3--active {
    transform: translateY(-10px) rotate(-45deg); }

.nav {
  position: absolute;
  right: 0;
  height: calc(100vh - 63px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 50; }
  .nav ul {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    font-size: 25px; }
    .nav ul li {
      transition: all 0.15s ease-in-out;
      height: 24px;
      font-family: "Francois One", sans-serif; }
      .nav ul li:hover {
        transform: scale(1.2); }
      .nav ul li a {
        user-select: none;
        outline: none; }
  .nav--active {
    transform: translateX(0); }
  .nav__logout {
    cursor: pointer;
    color: #c00a22; }
  @media (min-width: 768px) {
    .nav {
      width: 400px; }
      .nav ul {
        font-size: 30px; } }

.current {
  width: 330px;
  height: 550px;
  background-color: rgba(94, 0, 0, 0.8);
  border-radius: 8px;
  overflow-y: auto;
  position: absolute; }
  .current__header {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 5px 0; }
  .current__section {
    min-height: 480px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
  .current span {
    margin: 15px 0; }
  .current img {
    width: 200px;
    height: 300px;
    margin: 15px 0;
    object-fit: cover;
    border-radius: 6px; }
  .current__no-data {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
    .current__no-data .no-data__span {
      font-size: 30px; }
    .current__no-data .no-data__image {
      height: 100%;
      width: 85%;
      object-fit: cover; }
  @media (min-width: 768px) {
    .current {
      width: 700px;
      height: 600px; }
      .current__header {
        font-size: 40px; }
      .current__section {
        min-height: 519px; }
        .current__section span {
          font-size: 20px; }
        .current__section img {
          width: 300px;
          height: 400px; }
      .current .no-data__span {
        font-size: 40px; } }

.add-data {
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; }

.select-data, .chosen-data {
  position: absolute;
  width: 250px;
  height: 530px;
  background-color: rgba(94, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  z-index: 2;
  padding: 10px; }
  .select-data__data-name {
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    width: 180px;
    padding: 3px 0;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    transition-property: background-color, border; }
    .select-data__data-name:hover {
      background-color: rgba(0, 0, 0, 0.5); }
    .select-data__data-name--active {
      background-color: black;
      border: 1px solid white; }
      .select-data__data-name--active:hover {
        background-color: black; }
  .select-data__confirm, .chosen-data__back, .chosen-number__back, .chosen-data__confirm, .select-number__confirm {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: all 0.2s ease-in;
    transition-property: background-color, color; }
    .select-data__confirm:hover, .chosen-data__back:hover, .chosen-number__back:hover, .chosen-data__confirm:hover, .select-number__confirm:hover {
      background-color: black;
      color: white; }
  @media (min-width: 500px) {
    .select-data, .chosen-data {
      width: 350px; }
      .select-data__confirm, .chosen-data__back, .chosen-number__back, .chosen-data__confirm, .select-number__confirm {
        font-size: 50px; } }
  @media (min-width: 768px) {
    .select-data, .chosen-data {
      width: 600px;
      flex-direction: row;
      flex-wrap: wrap; }
      .select-data__data-name {
        font-size: 30px;
        margin: 10px; } }
  @media (min-width: 1024px) {
    .select-data, .chosen-data {
      width: 800px; }
      .select-data__data-name {
        font-size: 30px; }
      .select-data__confirm, .chosen-data__back, .chosen-number__back, .chosen-data__confirm, .select-number__confirm {
        font-size: 60px; } }

.chosen-data__back, .chosen-number__back {
  left: 0;
  transform: translateX(-100%);
  border-radius: 10px 0 0 10px; }

.chosen-data__inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  overflow: auto; }
  .chosen-data__inputs * {
    margin: 10px 0; }

.chosen-data__input-image {
  background-color: white;
  width: 200px;
  height: 300px;
  margin: 15px 0;
  object-fit: cover;
  border-radius: 6px; }
  .chosen-data__input-image svg {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; }
  .chosen-data__input-image .input-image__input {
    display: none; }
  .chosen-data__input-image .input-image__label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }

@media (min-width: 768px) {
  .chosen-data__inputs * {
    margin: 15px 0;
    font-size: 22px; }
  .chosen-data__input-image {
    width: 300px;
    height: 400px; }
    .chosen-data__input-image svg {
      font-size: 70px; } }

.compare {
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; }

.select-number {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  background-color: rgba(94, 0, 0, 0.7);
  position: relative; }
  .select-number__title {
    font-size: 28px;
    text-align: center;
    margin: 15px 0; }
  .select-number__section {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .select-number__num1, .select-number__num2 {
    border: none;
    outline: none;
    width: 70px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    font-family: "Black Ops One", cursive;
    border: 1px solid black; }
  .select-number__confirm {
    top: 50%;
    transform: translate(100%, -50%); }
  @media (min-width: 768px) {
    .select-number {
      width: 400px;
      height: 250px; }
      .select-number__title {
        font-size: 32px; }
      .select-number__section {
        height: 160px; }
      .select-number__num1, .select-number__num2 {
        width: 90px;
        height: 60px;
        font-size: 30px; } }

.chosen-number {
  width: 300px;
  height: 530px;
  border-radius: 10px;
  background-color: rgba(94, 0, 0, 0.8);
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 0; }
  .chosen-number__back {
    top: 50%;
    transform: translate(-100%, -50%); }
  .chosen-number__data {
    height: 100%;
    transition: all 0.2s ease-in;
    transition-property: opacity, color; }
    .chosen-number__data--unactive {
      opacity: 0.3;
      color: black;
      user-select: none; }
  .chosen-number .data__title {
    font-size: 15px;
    margin: 15px 0;
    text-align: center; }
  .chosen-number .data__section {
    min-height: 470px;
    font-size: 13px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
  .chosen-number .data__image {
    width: 100px;
    border-radius: 8px;
    height: 140px;
    object-fit: cover; }
  .chosen-number__difference {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 22px;
    color: black;
    z-index: 1;
    font-family: "Black Ops One", cursive;
    text-align: center;
    z-index: -1;
    opacity: 0.3;
    user-select: none;
    transition: all 0.2s ease-in;
    transition-property: opacity, color; }
    .chosen-number__difference--active {
      z-index: 0;
      opacity: 1;
      color: white;
      user-select: unset; }
  .chosen-number__difference-toggle {
    position: absolute;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
    bottom: 0;
    transform: translateY(100%);
    width: 200px;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    transition: all 0.2s ease-in;
    transition-property: background-color, color; }
    .chosen-number__difference-toggle:hover {
      color: white;
      background-color: black; }
  @media (min-width: 768px) {
    .chosen-number {
      width: 600px; }
      .chosen-number .data__title {
        font-size: 28px; }
      .chosen-number .data__section {
        font-size: 22px;
        min-height: 460px; } }

.history {
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; }
  .history__tabs {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto; }
    .history__tabs .history__tab {
      width: 260px;
      height: 200px;
      margin: 5% 3%;
      background-color: rgba(94, 0, 0, 0.7);
      border-radius: 10px 10px 0 10px;
      color: white;
      position: relative;
      z-index: 0; }
      .history__tabs .history__tab .tab__header {
        font-size: 20px;
        text-align: center;
        padding: 4% 0 1%; }
      .history__tabs .history__tab .tab__number {
        position: absolute;
        right: 2%;
        top: 5%;
        user-select: none;
        color: black;
        font-size: 100px;
        font-family: "Black Ops One", cursive;
        z-index: -1; }
      .history__tabs .history__tab .tab__section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 159px; }
        .history__tabs .history__tab .tab__section .tab__image {
          width: 90px;
          height: 135px;
          border-radius: 10px;
          object-fit: cover; }
        .history__tabs .history__tab .tab__section .tab__data {
          display: flex;
          flex-direction: column;
          font-size: 14px; }
          .history__tabs .history__tab .tab__section .tab__data--just-data {
            width: 100%;
            text-align: center; }
      .history__tabs .history__tab .tab__delete {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        right: 0;
        width: 40px;
        height: 40px;
        color: white;
        background-color: inherit;
        border-radius: 0 0 10px 10px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out; }
        .history__tabs .history__tab .tab__delete:hover {
          background-color: #5e0000; }
  .history__no-data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
    .history__no-data .no-data__span {
      padding: 2% 3%;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      color: white;
      font-size: 30px; }
    .history__no-data .no-data__image {
      width: 100%;
      height: 100%; }
  @media (min-width: 1024px) {
    .history__tabs {
      width: 90%; }
      .history__tabs .history__tab {
        margin: 8% 3%; }
    .history .no-data__span {
      font-size: 40px; }
    .history .no-data__image {
      width: 800px; } }
