body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Francois One", sans-serif;
  overflow: hidden;
  font-size: 2vw;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.input, .login__input, .register__input {
  position: relative; }
  .input input, .login__input input, .register__input input {
    position: relative;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #000000;
    font-family: "Francois One", sans-serif;
    font-size: 0.8em;
    z-index: 2;
    color: white; }
  .input label, .login__input label, .register__input label {
    position: absolute;
    left: 1%;
    bottom: 0;
    z-index: 1;
    color: white;
    font-size: .8em;
    transition: all .2s ease-in-out; }
  .input .label--active, .login__input .label--active, .register__input .label--active {
    transform: scale(0.7) translate(-22%, -140%);
    color: black; }
  @media (max-width: 1024px) {
    .input, .login__input, .register__input {
      width: 60%; }
      .input input, .login__input input, .register__input input {
        width: 100%;
        font-size: 1.2em; }
      .input label, .login__input label, .register__input label {
        font-size: 1.2em; } }
  @media (max-width: 768px) {
    .input input, .login__input input, .register__input input {
      font-size: 1.6em; }
    .input label, .login__input label, .register__input label {
      font-size: 1.6em; } }
  @media (max-width: 524px) {
    .input input, .login__input input, .register__input input {
      font-size: 1.8em; }
    .input label, .login__input label, .register__input label {
      font-size: 1.8em; } }

.home-form, .login, .register {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }

.form-submit, .login__submit, .register__submit {
  outline: none;
  border: none;
  width: 35%;
  font-size: .7em;
  padding: 1.5% 0;
  font-family: "Francois One", sans-serif;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition: all .15s ease-in;
  transition-property: background-color, color; }
  .form-submit:hover, .login__submit:hover, .register__submit:hover {
    background-color: #5E0000;
    color: white; }
  @media (max-width: 1024px) {
    .form-submit, .login__submit, .register__submit {
      font-size: .9em; } }
  @media (max-width: 768px) {
    .form-submit, .login__submit, .register__submit {
      font-size: 1.3em; } }

.header {
  width: 100vw;
  height: 65px;
  background-color: #5E0000; }
  .header__h1 {
    font-family: "Black Ops One", cursive;
    color: white;
    padding: 18px 0 0 10px;
    font-size: 36px;
    margin: 0; }
  @media (max-width: 768px) {
    .header__cut-on-mobile {
      display: none; } }

.body {
  width: 100%;
  height: 100vh;
  background: url("./pictures/body-builder.jpg") no-repeat top/cover;
  display: flex;
  justify-content: center; }

.form {
  width: 30%;
  height: 35%;
  margin-top: 15vh;
  position: relative; }
  .form__switches {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .form__switches .switches__switch {
      padding: .5% 0;
      background-color: rgba(255, 255, 255, 0.2);
      width: 35%;
      color: black;
      font-size: 0.8em;
      text-align: center;
      border-radius: 10px 10px 0 0;
      cursor: pointer;
      transition: background-color .3s ease, color .3s ease; }
      .form__switches .switches__switch:hover {
        background-color: rgba(94, 0, 0, 0.6); }
      .form__switches .switches__switch--active {
        background-color: rgba(94, 0, 0, 0.6);
        color: white; }
  .form__content {
    padding: 3% 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 0, 0, 0.8);
    border-radius: 0 0 10px 10px; }
  .form__message {
    font-size: .7em;
    color: #5E0000;
    background-color: white;
    padding: 2% 4%;
    width: 30%;
    position: absolute;
    text-align: center;
    border-radius: 0 0 10px 10px;
    left: 50%;
    transform: translateX(-50%); }
  @media (max-width: 1024px) {
    .form {
      width: 40%;
      height: 40%; }
      .form .switches__switch {
        font-size: 1.2em; }
      .form__message {
        font-size: 1em; } }
  @media (max-width: 1024px) and (orientation: portrait) {
    .form {
      height: 25%; } }
  @media (max-width: 768px) {
    .form {
      width: 60%;
      height: 40%; }
      .form .switches__switch {
        font-size: 1.4em; }
      .form__message {
        font-size: 1.2em; } }
  @media (max-width: 524px) {
    .form {
      width: 80%;
      height: 35%; }
      .form .switches__switch {
        font-size: 1.8em; }
      .form__message {
        font-size: 1.4em; } }
