html {
  overflow: hidden;
  width: 100vw;
  height: 100vh; }

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Francois One", sans-serif;
  overflow: hidden;
  font-size: 2vw;
  margin: 0;
  padding: 0; }

h2 {
  margin: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

.input, .login__input, .register__input, .chosen-data__inputs .chosen-data__input-div {
  position: relative; }
  .input input, .login__input input, .register__input input, .chosen-data__inputs .chosen-data__input-div input {
    position: relative;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #000000;
    font-family: "Francois One", sans-serif;
    font-size: 0.8em;
    z-index: 2;
    color: white; }
  .input label, .login__input label, .register__input label, .chosen-data__inputs .chosen-data__input-div label {
    position: absolute;
    left: 1%;
    bottom: 0;
    z-index: 1;
    color: white;
    font-size: .8em;
    transition: all .2s ease-in-out; }
  .input .label--active, .login__input .label--active, .register__input .label--active, .chosen-data__inputs .chosen-data__input-div .label--active {
    transform: scale(0.7) translate(-22%, -140%);
    color: black; }
  @media (max-width: 1024px) {
    .input, .login__input, .register__input, .chosen-data__inputs .chosen-data__input-div {
      width: 60%; }
      .input input, .login__input input, .register__input input, .chosen-data__inputs .chosen-data__input-div input {
        width: 100%;
        font-size: 1.2em; }
      .input label, .login__input label, .register__input label, .chosen-data__inputs .chosen-data__input-div label {
        font-size: 1.2em; } }
  @media (max-width: 768px) {
    .input input, .login__input input, .register__input input, .chosen-data__inputs .chosen-data__input-div input {
      font-size: 1.6em; }
    .input label, .login__input label, .register__input label, .chosen-data__inputs .chosen-data__input-div label {
      font-size: 1.6em; } }
  @media (max-width: 524px) {
    .input input, .login__input input, .register__input input, .chosen-data__inputs .chosen-data__input-div input {
      font-size: 1.8em; }
    .input label, .login__input label, .register__input label, .chosen-data__inputs .chosen-data__input-div label {
      font-size: 1.8em; } }

.home-form, .login, .register {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }

.form-submit, .login__submit, .register__submit {
  outline: none;
  border: none;
  width: 35%;
  font-size: .7em;
  padding: 1.5% 0;
  font-family: "Francois One", sans-serif;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition: all .15s ease-in;
  transition-property: background-color, color; }
  .form-submit:hover, .login__submit:hover, .register__submit:hover {
    background-color: #5E0000;
    color: white; }
  @media (max-width: 1024px) {
    .form-submit, .login__submit, .register__submit {
      font-size: .9em; } }
  @media (max-width: 768px) {
    .form-submit, .login__submit, .register__submit {
      font-size: 1.3em; } }

.logged__message {
  width: 20%;
  height: fit-content;
  text-align: center;
  background-color: white;
  color: #5E0000;
  border: 2px solid black;
  padding: 2% 3%;
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 10px; }
  @media (max-width: 1024px) and (orientation: portrait) {
    .logged__message {
      width: 45%;
      font-size: 2.5em;
      padding: 5% 3%; } }

.hide-arrows, .chosen-data__inputs .chosen-data__input-div .input-div__input::-webkit-outer-spin-button, .chosen-data__inputs .chosen-data__input-div .input-div__input::-webkit-inner-spin-button, .select-number__section .select-number__num1::-webkit-outer-spin-button, .select-number__section .select-number__num2::-webkit-outer-spin-button, .select-number__section .select-number__num1::-webkit-inner-spin-button, .select-number__section .select-number__num2::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

.header {
  width: 100vw;
  height: 65px;
  background-color: #5E0000; }
  .header__h1 {
    font-family: "Black Ops One", cursive;
    color: white;
    padding: 18px 0 0 10px;
    font-size: 36px;
    margin: 0; }
  @media (max-width: 768px) {
    .header__cut-on-mobile {
      display: none; } }

.body {
  width: 100%;
  height: calc(100vh - 65px);
  background: url("./pictures/body-builder.jpg") no-repeat top/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.form {
  width: 30%;
  height: 45%;
  margin-bottom: 15vh;
  position: relative; }
  .form__switches {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .form__switches .switches__switch {
      padding: .5% 0;
      background-color: rgba(255, 255, 255, 0.2);
      width: 35%;
      color: black;
      font-size: 0.8em;
      text-align: center;
      border-radius: 10px 10px 0 0;
      cursor: pointer;
      transition: background-color .3s ease, color .3s ease; }
      .form__switches .switches__switch:hover {
        background-color: rgba(94, 0, 0, 0.6); }
      .form__switches .switches__switch--active {
        background-color: rgba(94, 0, 0, 0.6);
        color: white; }
  .form__content {
    padding: 3% 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 0, 0, 0.8);
    border-radius: 0 0 10px 10px; }
  .form__message {
    font-size: .7em;
    color: #5E0000;
    background-color: white;
    padding: 2% 4%;
    width: 30%;
    position: absolute;
    text-align: center;
    border-radius: 0 0 10px 10px;
    left: 50%;
    transform: translateX(-50%); }
  @media (max-width: 1024px) {
    .form {
      width: 40%;
      height: 40%; }
      .form .switches__switch {
        font-size: 1.2em; }
      .form__message {
        font-size: 1em; } }
  @media (max-width: 1024px) and (orientation: portrait) {
    .form {
      height: 25%; } }
  @media (max-width: 768px) {
    .form {
      width: 60%;
      height: 40%; }
      .form .switches__switch {
        font-size: 1.4em; }
      .form__message {
        font-size: 1.2em; } }
  @media (max-width: 524px) {
    .form {
      width: 80%;
      height: 35%; }
      .form .switches__switch {
        font-size: 1.8em; }
      .form__message {
        font-size: 1.4em; } }

.login div {
  opacity: 0; }

.register div {
  opacity: 0; }

.hamburger {
  width: 45px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: -45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .hamburger__line {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition: all .2s ease-in-out; }
  .hamburger__line1--active {
    transform: translateY(10px) rotate(45deg); }
  .hamburger__line2--active {
    opacity: 0; }
  .hamburger__line3--active {
    transform: translateY(-10px) rotate(-45deg); }

.nav {
  position: absolute;
  right: 0;
  height: calc(100vh - 65px);
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(100%);
  transition: transform .4s ease-in-out;
  z-index: 50; }
  .nav ul {
    margin-top: 2vw;
    list-style-type: none;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0; }
    .nav ul li {
      transition: all .15s ease-in-out;
      height: 24px;
      font-family: "Francois One", sans-serif; }
      .nav ul li:hover {
        transform: scale(1.2); }
      .nav ul li a {
        color: white;
        user-select: none;
        outline: none;
        font-size: 1.1em; }
  .nav--active {
    transform: translateX(0); }
  .nav__logout {
    cursor: pointer;
    color: #c00a22;
    font-size: 1.4em; }
  @media (max-width: 768px) {
    .nav {
      z-index: 999;
      width: 100vw; }
      .nav ul li a {
        font-size: 2.4em; }
      .nav__logout {
        font-size: 3.3em; } }

.current {
  background-color: rgba(94, 0, 0, 0.8);
  width: 50vw;
  height: 70%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  padding: 1% 0 2%; }
  .current__header {
    font-size: 1.5em;
    padding: 3% 0; }
  .current__image {
    width: 35%;
    height: 90%;
    border-radius: 10px;
    object-fit: cover; }
  .current__section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding-bottom: 1%; }
    .current__section .current__data {
      padding: 5% 0;
      height: 80%;
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: column; }
  .current__no-data, .history__no-data {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
    .current__no-data .no-data__span, .history__no-data .no-data__span {
      font-size: 1.5em; }
    .current__no-data .no-data__image, .history__no-data .no-data__image {
      width: 60%; }
  @media (max-width: 1024px) and (orientation: portrait) {
    .current {
      width: 80%;
      height: 80%; }
      .current__header {
        font-size: 2.5em; }
      .current__image {
        width: 50%;
        height: 50%; }
      .current__section {
        flex-direction: column; }
        .current__section .current__data {
          font-size: 1.8em;
          align-items: center;
          justify-content: space-evenly; }
      .current__no-data, .history__no-data {
        height: 70%; }
        .current__no-data .no-data__image, .history__no-data .no-data__image {
          width: 80%; } }
  @media (max-width: 524px) and (orientation: portrait) {
    .current__header {
      font-size: 4.5em; }
    .current__image {
      width: 70%; }
    .current__section .current__data {
      font-size: 2.5em; } }
  @media (max-width: 1024px) and (orientation: landscape) {
    .current {
      width: 70%; }
      .current__header {
        font-size: 2em; }
      .current__section .current__data {
        font-size: 1.3em; } }

.select-data, .chosen-data {
  position: absolute;
  width: 60%;
  height: 70%;
  background-color: rgba(94, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2; }
  .select-data__data-name {
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: .9em;
    padding: 1% 0;
    margin: 3% 3%;
    width: 20%;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all .2s ease-in-out;
    transition-property: background-color, border; }
    .select-data__data-name:hover {
      background-color: rgba(0, 0, 0, 0.5); }
    .select-data__data-name--active {
      background-color: black;
      border: 1px solid white; }
      .select-data__data-name--active:hover {
        background-color: black; }
  .select-data__confirm, .chosen-data__back, .chosen-number__back, .chosen-data__confirm, .select-number__section .select-number__confirm {
    cursor: pointer;
    position: absolute;
    font-size: 2.5em;
    right: -13.4%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
    border-radius: 0 10px 10px 0;
    border: none;
    outline: none; }
  @media (max-width: 1024px) and (orientation: portrait) {
    .select-data, .chosen-data {
      width: 75%;
      height: auto; }
      .select-data__data-name {
        width: 60%;
        font-size: 2em; }
      .select-data__confirm, .chosen-data__back, .chosen-number__back, .chosen-data__confirm, .select-number__section .select-number__confirm {
        right: -11.5%; } }
  @media (max-width: 524px) and (orientation: portrait) {
    .select-data__data-name {
      width: 60%;
      margin: 5% 0; } }

.chosen-data {
  z-index: 1;
  opacity: 0;
  flex-wrap: unset;
  justify-content: space-evenly; }
  .chosen-data__back, .chosen-number__back {
    left: -13.4%;
    right: unset;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px 0 0 10px;
    user-select: none; }
  .chosen-data__confirm {
    right: -14.3%;
    padding: 2.5% 3.5% 2.5% 2.5%; }
  .chosen-data__inputs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%; }
    .chosen-data__inputs .chosen-data__input-div .input-div__input {
      width: 70%; }
  .chosen-data__input-image {
    width: 30%;
    height: 75%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black; }
    .chosen-data__input-image .input-image__input {
      display: none; }
    .chosen-data__input-image .input-image__label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .chosen-data__input-image .input-image__label svg {
        font-size: 250%; }
  @media (max-width: 1024px) and (orientation: portrait) {
    .chosen-data {
      flex-direction: column;
      height: 70%; }
      .chosen-data__input-image {
        width: 35%;
        height: 60%;
        margin: 5% 0; }
      .chosen-data__back, .chosen-number__back {
        left: -11.8%; }
      .chosen-data__confirm {
        right: -12.8%; } }
  @media (max-width: 1024px) and (orientation: landscape) {
    .chosen-data {
      width: 75%; }
      .chosen-data__back, .chosen-number__back {
        left: -11.8%; }
      .chosen-data__confirm {
        right: -12.8%; } }
  @media (max-width: 524px) and (orientation: portrait) {
    .chosen-data__input-image {
      width: 40%; } }

.select-number {
  width: 30%;
  height: 40%;
  background-color: rgba(94, 0, 0, 0.7);
  border-radius: 10px;
  position: relative;
  z-index: 2; }
  .select-number__title {
    color: white;
    font-size: 1.3em;
    width: 100%;
    text-align: center;
    padding: 2% 0; }
  .select-number__section {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .select-number__section .select-number__num1, .select-number__section .select-number__num2 {
      border: none;
      outline: none;
      width: 20%;
      height: 30%;
      font-size: 1.2em;
      border-radius: 10px;
      text-align: center;
      font-family: "Black Ops One", cursive;
      border: 1px solid black; }
    .select-number__section .select-number__confirm {
      font-size: 2em;
      right: -18.3%;
      width: 18%;
      top: 50%;
      transform: translateY(-50%); }
  @media (max-width: 1024px) and (orientation: portrait) {
    .select-number {
      width: 60%;
      height: 30%; }
      .select-number__title {
        font-size: 2.2em;
        padding: 5% 0 2%; }
      .select-number__section .select-number__num1, .select-number__section .select-number__num2 {
        font-size: 2.4em; }
      .select-number__section .select-number__confirm {
        font-size: 3em; } }

.chosen-number {
  width: 50%;
  height: 80%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  background-color: rgba(94, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center; }
  .chosen-number__back {
    font-size: 2em;
    left: -12.9%; }
  .chosen-number__data {
    width: 50%;
    height: 100%;
    color: white; }
    .chosen-number__data .data__title {
      font-size: 1.2em;
      text-align: center;
      padding: 2% 0; }
    .chosen-number__data .data__section {
      height: 85%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      font-size: .7em; }
      .chosen-number__data .data__section .data__image {
        width: 120px;
        height: 170px;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid white; }
  @media (max-width: 754px) and (orientation: landscape) {
    .chosen-number .data__image {
      width: 40% !important;
      height: 50% !important; } }
  @media (max-width: 1024px) and (orientation: portrait) {
    .chosen-number {
      width: 80%; }
      .chosen-number__back {
        left: -10%; }
      .chosen-number__data .data__title {
        font-size: 2em; }
      .chosen-number__data .data__section {
        height: 90%;
        font-size: 1.5em; }
        .chosen-number__data .data__section .data__image {
          width: 70%;
          height: 30%; } }

.history {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .history__tabs {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto; }
    .history__tabs .history__tab {
      width: 260px;
      height: 200px;
      margin: 3% 3%;
      background-color: rgba(94, 0, 0, 0.7);
      border-radius: 10px;
      color: white;
      position: relative;
      z-index: 0; }
      .history__tabs .history__tab .tab__header {
        font-size: 20px;
        text-align: center;
        padding: 4% 0 1%; }
      .history__tabs .history__tab .tab__number {
        position: absolute;
        right: 2%;
        top: 5%;
        user-select: none;
        color: black;
        font-size: 100px;
        font-family: "Black Ops One", cursive;
        z-index: -1; }
      .history__tabs .history__tab .tab__section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 159px; }
        .history__tabs .history__tab .tab__section .tab__image {
          width: 90px;
          height: 135px;
          border-radius: 10px;
          object-fit: cover; }
        .history__tabs .history__tab .tab__section .tab__data {
          display: flex;
          flex-direction: column;
          font-size: 14px; }
          .history__tabs .history__tab .tab__section .tab__data--just-data {
            width: 100%;
            text-align: center; }
  .history__tabs::-webkit-scrollbar {
    background-color: transparent; }
  .history__tabs::-webkit-scrollbar-thumb {
    background-color: white;
    height: 30px;
    border-radius: 7px; }
  .history__no-data .no-data__span {
    padding: 2% 3%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white; }
  @media (max-width: 1024px) and (orientation: portrait) {
    .history__tabs {
      width: 90%; }
      .history__tabs .history__tab {
        margin: 8% 3%; } }
