.compare {
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.select-number {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  background-color: rgba($color: $main-contrastColor, $alpha: 0.7);
  position: relative;

  &__title {
    font-size: 28px;
    text-align: center;
    margin: 15px 0;
  }

  &__section {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__num1,
  &__num2 {
    border: none;
    outline: none;
    width: 70px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    font-family: $header-font;
    border: 1px solid black;
  }

  &__confirm {
    @extend .select-data__confirm;
    top: 50%;
    transform: translate(100%, -50%);
  }

  @media (min-width: 768px) {
    width: 400px;
    height: 250px;

    &__title {
      font-size: 32px;
    }

    &__section {
      height: 160px;
    }

    &__num1,
    &__num2 {
      width: 90px;
      height: 60px;
      font-size: 30px;
    }
  }
}

.chosen-number {
  width: 300px;
  height: 530px;
  border-radius: 10px;
  background-color: rgba($color: $main-contrastColor, $alpha: 0.8);
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 0;

  &__back {
    @extend .chosen-data__back;
    top: 50%;
    transform: translate(-100%, -50%);
  }

  &__data {
    height: 100%;
    transition: all 0.2s ease-in;
    transition-property: opacity, color;

    &--unactive {
      opacity: 0.3;
      color: black;
      user-select: none;
    }
  }

  .data__title {
    font-size: 15px;
    margin: 15px 0;
    text-align: center;
  }

  .data__section {
    min-height: 470px;
    font-size: 13px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .data__image {
    width: 100px;
    border-radius: 8px;
    height: 140px;
    object-fit: cover;
  }

  &__difference {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 22px;
    color: black;
    z-index: 1;
    font-family: $header-font;
    text-align: center;
    z-index: -1;
    opacity: 0.3;
    user-select: none;
    transition: all 0.2s ease-in;
    transition-property: opacity, color;

    &--active {
      z-index: 0;
      opacity: 1;
      color: white;
      user-select: unset;
    }
  }

  &__difference-toggle {
    position: absolute;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
    bottom: 0;
    transform: translateY(100%);
    width: 200px;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    transition: all 0.2s ease-in;
    transition-property: background-color, color;

    &:hover {
      color: white;
      background-color: black;
    }
  }

  @media (min-width: 768px) {
    width: 600px;

    .data__title {
      font-size: 28px;
    }

    .data__section {
      font-size: 22px;
      min-height: 460px;
    }
  }
}
