.current {
  width: 330px;
  height: 550px;
  background-color: rgba($color: $main-contrastColor, $alpha: 0.8);
  border-radius: 8px;
  overflow-y: auto;
  position: absolute;

  &__header {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 5px 0;
  }

  &__section {
    min-height: 480px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  span {
    margin: 15px 0;
  }

  img {
    width: 200px;
    height: 300px;
    margin: 15px 0;
    object-fit: cover;
    border-radius: 6px;
  }

  @media (min-width: 768px) {
    width: 700px;
    height: 600px;

    &__header {
      font-size: 40px;
    }

    &__section {
      min-height: 519px;
      span {
        font-size: 20px;
      }
      img {
        width: 300px;
        height: 400px;
      }
    }
  }
}
