$main-font: "Francois One", sans-serif;
$header-font: "Black Ops One", cursive;
$quote-font: "Merienda One", cursive;
$main-contrastColor: #5e0000;

html {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: $main-font;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: white;
}

*::-webkit-scrollbar {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 7px;
}

*::-webkit-outer-spin-button,
*::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

h2 {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  font-family: $main-font;
}

.input {
  position: relative;

  input {
    position: relative;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #000000;
    font-family: $main-font;
    z-index: 2;
    color: white;
  }

  label {
    position: absolute;
    left: 1%;
    bottom: 0;
    z-index: 1;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  .label--active {
    transform: scale(0.7) translate(-22%, -145%);
    color: black;
  }
}

.home-submit {
  outline: none;
  border: none;
  width: 100px;
  padding: 7px;
  font-family: $main-font;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.15s ease-in;
  transition-property: background-color, color;

  &:hover {
    background-color: $main-contrastColor;
    color: white;
  }

  @media (min-width: 768px) {
    font-size: 21px;
    width: 180px;
  }
}

.logged__message {
  width: 250px;
  text-align: center;
  background-color: white;
  color: $main-contrastColor;
  border: 2px solid black;
  font-size: 22px;
  padding: 20px 40px;
  z-index: 100;
  border-radius: 10px;

  @media (min-width: 768px) {
    width: 300px;
    font-size: 27px;
  }
}
