.form
{
    width: 30%;
    height: 35%;
    margin-top: 15vh;
    position: relative;

    &__switches
    {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .switches__switch
        {
            padding: .5% 0;
            background-color: rgba($color: #ffffff, $alpha: .2);
            width: 35%;
            color: black;
            font-size: 0.8em;
            text-align: center;
            border-radius: 10px 10px 0 0;
            cursor: pointer;
            transition: background-color .3s ease, color .3s ease;

            &:hover
            {
                background-color: rgba($color: $main-contrastColor, $alpha: .6);
            }

            &--active
            {
                background-color: rgba($color: $main-contrastColor, $alpha: .6);
                color: white;
            }

        }

    }

    &__content
    {
        padding: 3% 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $main-contrastColor, $alpha: .8);
        border-radius: 0 0 10px 10px;
    }

    &__message
    {
        font-size: .7em;
        color: $main-contrastColor;
        background-color: white;
        padding: 2% 4%;
        width: 30%;
        position: absolute;
        text-align: center;
        border-radius: 0 0 10px 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (max-width: 1024px)
    {
        width: 40%;
        height: 40%;

        .switches__switch
        {
            font-size: 1.2em;
        }

        &__message
        {
            font-size: 1em;
        }
    }

    @media (max-width: 1024px) and (orientation: portrait)
    {
        height: 25%;
    }

    @media (max-width: 768px)
    {
        width: 60%;
        height: 40%;

        .switches__switch
        {
            font-size: 1.4em;
        }

        &__message
        {
            font-size: 1.2em;
        }

    }

    @media (max-width: 524px)
    {
        width: 80%;
        height: 35%;

        .switches__switch
        {
            font-size: 1.8em;
        }

        &__message
        {
            font-size: 1.4em;
        }

    }

}