.header
{
    width: 100vw;
    height: 65px;
    background-color: $main-contrastColor;

    &__h1
    {
        font-family: $header-font;
        color: white;
        padding: 18px 0 0 10px;
        font-size: 36px;
        margin: 0;
    }

    @media(max-width: 768px)
    {
        &__cut-on-mobile
        {
            display: none;
        }
    }

}
